.whites {
        width:40px;
        height:140px;
        float:left;
        margin-right:3px;
        cursor:pointer;
        background-color:white;

}

.blacks {
        width:40px;
        height:140px;
        float:left;
        margin-right:3px;
        cursor:pointer;
        background-color:#444444;
        color: white;
}

.blanks {
        width:40px;
        height:140px;
        float:left;
        margin-right:3px;
        cursor:pointer;
        background-color:gray;
}

.offset {
        width:20px;
        height:140px;
        float:left;
        margin-right:3px;
        cursor:pointer;
        background-color:gray;
}

#buttons {
		width:650px;
		margin:0 
		auto;
}


#notes {
		width:700px;
		margin:100px 
		auto;
}

#instruction {
		width:700px;
		margin:0px 
		auto;
}
